<div class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <!-- <img src="/static/images/logo-muteklab.svg"> -->
            <p>회사로고</p>
        </a>
        <div class="navbar-header">
            <button class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-modal-mask"></div>
        <div class="navbar-menu">
            <div class="dropdown">
                <a class="dropdown-toggle" href="/aboutus.html">
                    회사소개
                </a>
            </div>
            <div class="dropdown">
                <button class="dropdown-toggle">
                    서비스<b class="caret"></b>
                </button>
                <div class="dropdown-menu">
                    <a href="/service-consulting.html">컨설팅</a>
                    <a href="/service-design.html">디자인</a>
                    <a href="/service-prototyping.html">시제품개발</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="/contact.html">
                    Contact
                </a>
            </div>
            <!-- <div class="dropdown">
                <button class="dropdown-toggle">
                    한국어<b class="caret"></b>
                </button>
                <div class="dropdown-menu">
                    <a href="?language=ko">한국어</a>
                    <div class="divider"></div>
                    <a href="?language=en">English</a>
                </div>
            </div> -->
        </div>
    </div>
</div>